/*--------------------------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
  font-style: normal;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

:root {
  --bg-blue-color: #0e192f;
  --bg-blue-card: #283857;
  --bd-white-color: #ffffff;
  --bg-orange-color: #ff5d3f;
  --bg-orange-darck: #e6482c;

  --txt-blue: #0e192f;
  --txt-white: #ffffff;
  --txt-orange: #ff5d3f;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: var(--txt-white);
  background-color: #152543;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0px 32px;
  width: 100%;
}
.wrapper {
  background-image: url("../sourse/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 812px;
  max-width: 375px;
  margin: 20px auto;
  border-radius: 18px;
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

.header {
}

.header__title {
  padding-top: 110px;
  padding-left: 30px;
  padding-bottom: 12px;

  font-size: 20px;
  color: var(--txt-blue);
}
.header__form {
  position: relative;
}
.header__input {
  width: 280px;
  height: 50px;
  padding-left: 30px;

  border-radius: 18px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 8px 16px 0px rgba(64, 88, 240, 0.1);

  font-size: 20px;
  font-weight: 700;
}
.header__input:placeholder-shown {
  font-weight: 400;
}
.header__submit {
  position: absolute;
  z-index: 1;
  left: 265px;

  width: 50px;
  height: 50px;
  border-radius: 18px;
  border: var(--bd-white-color) 2px solid;
  background-image: url("../sourse/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-orange-color);
  box-shadow: 0px 8px 16px 0px rgba(45, 51, 92, 0.3);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__submit:hover,
.header__submit:focus,
.header__submit:active {
  background-color: var(--bg-orange-darck);

  background-image: url("../sourse/search-w.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/

.main {
}
.main__card {
}
.card {
  margin-top: 180px;

  padding: 30px;
  background-color: var(--bg-blue-card);
  box-shadow: 0px 8px 16px 0px rgba(14, 15, 19, 0.4);
  width: 100%;
  border-radius: 25px;
}

.card__country {
  font-size: 18px;
  padding-bottom: 8px;
}
.card__city {
  color: var(--txt-orange);
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 700;
}
.card__weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__left {
}
.card__temp-c {
  font-size: 80px;
}
.up {
  font-size: 40px;
  margin-bottom: 20px;
}
.card__condition {
  font-size: 24px;
  color: var(--txt-orange);
}
.card__right {
  display: flex;
  flex-direction: column;
}
.card__feels {
}
.card__text-f {
  padding-top: 12px;
  text-align: center;
  font-size: 16px;
}
.card__temp-f {
  text-align: center;
  font-size: 32px;
  margin-bottom: 23px;
  position: relative;
}
.card__temp-f::after {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--bd-white-color);
}
.card__humidity {
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.3px;
}
.card__text-h {
}
.card__temp-h {
}
